<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type=""/>
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type=""/>
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\liam\documents\github\tontine\source\client\tontineclient.plutus\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type=""/>
            </add>
        </sharedListeners>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
        </diagnostics>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITradeService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ITradeService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/TradeService/TradeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITradeService"
                contract="TradeService.ITradeService" name="BasicHttpBinding_ITradeService" />
            <endpoint address="net.tcp://ferro/TradeService/TradeService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITradeService"
                contract="TradeService.ITradeService" name="NetTcpBinding_ITradeService" />
        </client>
    </system.serviceModel>
</configuration>
