<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=bastion;AccountKey=jhjpw84eFfSrOyT0js6WVjooXqeDeDdRgd7iAoqFL8qBfzwZCr0vIZWYB8cQRXl5GnqAaNuFAoFvnuqb0iXLFA=="/>
  </appSettings>
</configuration>
