<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="refDataLogfile" xsi:type="File" fileName="${basedir}/logs/RefDataService_${shortdate}.log"
            layout="${date:format=s}|${level}|${message}" />
    <target name="countryRefDataLogfile" xsi:type="File" fileName="${basedir}/logs/CountryRefDataService_${shortdate}.log"
            layout="${date:format=s}|${level}|${message}" />
    <target name="currencyRefDataLogfile" xsi:type="File" fileName="${basedir}/logs/CurrencyRefDataService_${shortdate}.log"
            layout="${date:format=s}|${level}|${message}" />
    <target name="marketIdentifiersRefDataLogfile" xsi:type="File" fileName="${basedir}/logs/MarketIdentifiersRefDataService_${shortdate}.log"
            layout="${date:format=s}|${level}|${message}" />
  </targets>
  <rules>
    <logger name="RefDataService" minlevel="Info" writeTo="refDataLogfile" />
    <logger name="CountryRefDataService" minlevel="Info" writeTo="countryRefDataLogfile" />
    <logger name="CurrencyRefDataService" minlevel="Info" writeTo="currencyRefDataLogfile" />
    <logger name="MarketIdentifiersRefDataService" minlevel="Info" writeTo="marketIdentifiersRefDataLogfile" />
  </rules>
</nlog>